@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.chall {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.invert {
  filter: invert(100%);
}


@layer base{
  html {
      font-family: 'Urbanist',sans-serif;
      line-height: 1.3;
  }
  table{

  }
  th,
  td {
      @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
  }
  thead {
      @apply bg-neutral-100;
  }
  th {
      @apply font-semibold;
  }
  a{
      @apply text-sky-500 hover:underline
  }
}
